.chat_icon img{ /*ChatBot*/
	position: fixed;
	bottom: 0;
	right: 30px;
	
	cursor: pointer;

	width: 30px;
	height: 30px;
	
	
	/* -moz-transition: 0.3s border ease;
	-o-transition: 0.3s border ease;
	-webkit-transition: 0.3s border ease;
	transition: 0.3s border ease; */
}
.chat_box{
	width: 400px;
	height: 80vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#dedede;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}
