<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
		type='text/css'>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel='stylesheet prefetch'
		href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
	<style>
		body {
			background-image: url("../static/images/backgroundUPB.png");
	}
	</style>
</head>

<body>
	<!-- ChatBot -->
	<div class="chat_icon">
		<img src="../static/images/logoChatSVG.svg">
	</div>

	<div class="chat_box">
		<div class="encabezado">
			<img src="../static/images/logoChatSVG.svg">
			<p>UPBot</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<li class="resChat">
				<p class="botText">¡Hola soy UPBot!<br>Estoy aquí para resolver tus dudas e inquietudes.<br>¿Cómo puedo
					ayudarte?</p>
			</li>
		</div>
		<div id="userInput">
			<div class="wrap">
				<form>
					<input id="text" type="text" name="msg" placeholder="Escribe tu pregunta...">
					<button type="submit" id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				</form>
			</div>
		</div>
	</div>
	<!-- ChatBot end -->
	<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/custom.js"></script>
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</body>

</html>